{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "react-hooks", "import"],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "camelcase": [0, { "properties": "never" }],
    "no-console": [2, { "allow": ["warn", "error"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/no-unused-prop-types": "off"
  },
  "settings": {
    "react": {
      "version": "16.10.2"
    },
    "import/resolver": "webpack"
  },
  "globals": {
    "process": true,
    "module": true
  }
}
