// auxiliary color
$auxiliary-color-primary: #409eff;
$auxiliary-color-success: #67c23a;
$auxiliary-color-warning: #e6a23c;
$auxiliary-color-danger: #f56c6c;
$auxiliary-color-info: #909399;

// font color
$font-color-main: #303133;
$font-color-common: #606266;
$font-color-secondary: #909399;
$font-color-placeholder: #c0c4cc;

// border color
$border-color-first: #dcdfe6;
$border-color-second: #e4e7ed;
$border-color-third: #ebeef5;
$border-color-four: #f2f6fc;
