.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 60px;
  border-radius: 10px;
  background: black;
  opacity: .6;
  .title {
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
    font-weight: 300;
  }
}
