.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  border-radius: 10px;
  background: black;
  opacity: .6;
  .title {
    color: #909399;
  }
}
